
.performance {
    background-color: #282D30;
    border-radius: 5px;
    width: 32%;
    min-width: 258px;
    max-height: 263px;
    background-color: $primary-color;
    font-size: 24px;
    font-weight: 500;
}