
.performance {
    background-color: #282D30;
    border-radius: 5px;
    width: 32%;
    height: 253px;
    background-color: $primary-color;
    @include desktop {
        min-width: 258px;
        max-height: 263px;
    }
}