.hub {
    width: 80%;
    color: black;
    margin-top: 2.5rem;
    margin-left: 15rem;
    &__info {
        font-size: 48px;
        margin-bottom: 41px;
    }
    &__link {
        link {
            text-decoration: none;
        }
        li {
            list-style-type: none;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
