.hub {
    width: 90%;
    height: 90%;
    color: $primary-color;
    margin-top: 4.25rem;
    margin-left: 7rem;
    padding-left: 6.8rem;
    &__title {
        font-size: 3.51rem;
        margin-bottom: 41px;
        font-weight: 700;
        span {
            color: $secondary-color;
        }
    }
    ul {
        width: 100%;
        margin-top: 20px;
        list-style-type: none;
    }
    li {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
        a {
        text-decoration: none;
        }
    }
}
