.scorechart {
    position: relative;
    background-color: $background-color;
    border-radius: 5px;
    width: 32%;
    min-width: 258px;
    max-height: 263px;
    margin-left: 5px;
    &__background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
    }
    &__score {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primary-color;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
    }
    &__txt {
        font-size: 16px;
        font-weight: 500;
        color: $tertiary-color;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__label {
        font-size: 15px;
        font-weight: 500;
    }
}
