
.sectionloader {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    @include load;
    animation: load 3s 100ms both;
    .loader {
        width: rem(120);
        height: rem(120);
        transform: translate(-50%,-50%);
        position: relative;
        &__circle {
            position: absolute;
            border-radius: 50%;
            border: 6px solid transparent;
            border-top: 6px solid $primary-color;
            @include spin-anim;
            animation: spin 1s linear 0s infinite;
            -webkit-animation: spin 1s linear 0s infinite;
            &::after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border-radius: 50%;
                border: 6px solid transparent;
                border-top: 6px solid $secondary-color;
                opacity: 0.8;
                animation: spin 5s linear 0s infinite;
                -webkit-animation: spin 5s linear 0s infinite;
            }
            &::before {
                content: '';
                position: absolute;
                top: 18px;
                left: 18px;
                right: 18px;
                bottom: 18px;
                border-radius: 50%;
                border: 6px solid transparent;
                border-top: 6px solid $secondary-bg;
                opacity: 0.5;
                animation: spin 10s linear 0s infinite;
                -webkit-animation: spin 10s linear 0s infinite;
            }
        }
    }
}