
.error {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: calc(100vh - 5.7rem);
        margin-left: 7rem;
    &__number {
        text-align: center;
        font-size: 300px;
        font-weight: 500;
        color: $secondary-color;
    }
    &__txt {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 400;
        color: $primary-color;
    }
}
