.keydata {
    width: 100%;
    max-width: 258px;
    max-height: 124px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    border-radius: 5px;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 500;
    background-color: $background-color;
    &:not(:last-child) {
        margin-bottom: 10%;
    }
    &__Calories {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 5px;
        background-color: rgb(255, 0, 0, 0.1);
    }
    &__Proteines {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 5px;
        background-color: rgba(74, 184, 255, 0.1);
    }
    &__Glucides {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 5px;
        background-color: rgba(249, 206, 35, 0.1);
    }
    &__Lipides {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 5px;
        background-color: rgba(253, 81, 129, 0.1);;
    }
    &__count {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0.5rem;
    }
    &__name {
        color: rgba(40, 45, 48, 0.7);
    }
}