.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $primary-color;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 7rem;
    height: 100%;
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 70%;
        button {
            border: none;
            background-color: transparent;
            transition: transform 0.1s ease;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            &:active {
                transform: scale(1);
            }
            img {
                width: 5rem;
            }
        }
    }
    &__txt {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
        width: auto;
        p {
            white-space: nowrap;
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            transform: rotate(-90deg);
        }
    }
}
